<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>order</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>修改订单</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/edit}" th:object="${order}"  method="post">
        <input type="hidden" name="id" th:value="*{id}" />
        <div class="form-group">
            <label for="orderNum" class="col-sm-2 control-label">orderNum</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="orderNum"  id="orderNum" th:value="*{orderNum}" placeholder="orderNum"/>
            </div>
        </div>
        <div class="form-group">
            <label for="goodsName" class="col-sm-2 control-label" >goodsName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="goodsName" id="goodsName"  th:value="*{goodsName}" placeholder="goodsName"/>
            </div>
        </div>

        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="number"  id="number" th:value="*{number}" placeholder="number"/>
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">money</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="money"  id="money" th:value="*{money}" placeholder="money"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userId" class="col-sm-2 control-label">userId</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userId"  id="userId" th:value="*{userId}" placeholder="userId"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/toAdd" th:href="@{/list}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
